*{

    padding: 0;
    margin: 0;
}

/* #f7f7f7 .background color */
/* #eb7f25 button grad1 */
/* #e63443 button grad 2 */
/* #775cec menu grad 1 */
/* #325dd9 menu grad 2 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body{
    font-family: 'Raleway', sans-serif;
}
.for_padding{
    padding: 20px;
}
#testimonial_section_card_4,#first_section_container_4{
    margin-right: 0px;
}

.menu{    
    display: flex;
    height: 80px;
}

.logo{
    width: 15%;
    display: flex;
    align-items: center;
}

.logo img{
    padding-left: 70px;
    width: 50%;
}

.right-nav{
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-nav ul{
    display: flex;
    list-style: none;
}

.right-nav ul li{
    padding-right: 50px;
}

.right-nav ul li a{
    text-decoration: none;
    color: black;
    padding: 30px 10px 30px 10px;
    font-size: 15px;
    font-weight: bold;
}

.right-nav ul li a:hover{ 
        background-image: linear-gradient(#775cec, #325dd9);
}
/* navbar ends here */


.background{
    background-image: url('./assets/img12.jpg');
    background-size: cover;
    height: 80vh;
    background-blend-mode: darken;
    position: relative;
}
.first_section_outer_container{
    height: auto;
    position: absolute;
    bottom: -25%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.first_section_container{
width: 160px;
height: 200px;
display: flex;
flex-direction: column;
padding: 30px;
margin-right: 20px;
position: relative;
}
#first_section_container_1{
    background-image: linear-gradient(rgb(199, 168, 67),orange);
}
#first_section_container_2{
    background-image: linear-gradient(rgb(69, 27, 104),blue);
}
#first_section_container_3{
    background-image: linear-gradient(rgb(156, 28, 28),rgb(94, 24, 88));
}
#first_section_container_4{
    background-image: linear-gradient(rgb(179, 71, 173),rgb(95, 14, 77));            
}
                        
.first_section_container h1,.first_section_container p{
    font-size: 30px;
    color: white;
}
.first_section_container p{
    padding-top: 20px;
    font-size: 15px;
    letter-spacing: 1px;
}
.first_section_container_icon{
    position: absolute;
    bottom: 5%;
    right: 10%;
    font-size: x-large;
    color: white;
}
/* first section ends here */




.second_section_welcome{
    width: 70%; 
    margin: auto;
    margin-top: 180px;
    display: flex;
}
.second_section_welcome_left{
    width: 50%;
    margin-right: 20px;
    background-color: #f7f7f7;
}
.second_section_welcome_right{
    width: 50%;
}

.second_section_welcome_right img{
    width: 100%;
    height: 100%;
}

.second_section_welcome_left h1{
    font-size: 30px;
    color: black;
}

.second_section_welcome_left p{
    font-size: 16px;
    color: gray;
    letter-spacing: 1px;
    margin-top: 20px;
}

.second_section_welcome_left button,.third_section_welcome_right button{
    font-size: 15px;
    background-image: linear-gradient(to right,#eb7f25,#e63443);    
    padding: 10px 12px 12px 10px;
    width: 120px;
    border: white;    
    color: white;    
    margin-top: 20px;
}
/* second section ends here */





#third_section_welcome{
    margin-top: 20px;
}
.third_section_welcome_left{
    width: 50%;
    margin-right: 20px;
}
.third_section_welcome_right{
    width: 50%;
    background-color: #f7f7f7;
}

.third_section_welcome_left img{
    width: 100%;
    height: 100%;
}

.third_section_welcome_right h1{
    font-size: 30px;
    color: black;
}


.third_section_welcome_right p{
    font-size: 16px;
    color: gray;
    margin-top: 20px;
    letter-spacing: 1px;
}
/* third section ends here */




#fourth_section{
    margin-top: 40px;
}
.fourth_section{
    background-image: url('./assets/img1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height:80vh;
    position: relative;  
    overflow: hidden;  
}
.fourth_section_content{
    position: absolute;
    margin-left: 15%;
    height: 100%;
    width: 25%;
    background-image: linear-gradient(rgb(156, 28, 28),rgb(94, 24, 88));
    padding: 30px;
    opacity: .9;
    
}
.fourth_section_content button{
    font-size: 15px;
    background-color: white;
    padding: 10px 12px 12px 10px;
    width: 120px;
    border: white;    
    color: black;    
}

.fourth_section_content h1{
    color: white;
    opacity: .8;
}
.fourth_section_content p{
    color: white;
    font-size: 15px;
    opacity: .8;
    letter-spacing: 1px;

}
/* fourth section ends here */




.fifth_section_welcome{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    display: flex;
}
.fifth_section_welcome_left{
    width: 50%;
    margin-right: 20px;
    background-image: linear-gradient(rgb(199, 168, 67),orange);
}
.fifth_section_welcome_right{
    width: 50%;
}

.fifth_section_welcome_right img{
    width: 100%;
    height: 100%;
}

.fifth_section_welcome_left h1{
    font-size: 30px;
    color: white;
}


.fifth_section_welcome_left p{
    font-size: 15px;
    color: white;
    margin-top: 20px;
}
/* fifth section ends here */




.testimonial_section{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.testimonial_section_card{
    width: 20%;
    background-color: #f7f7f7;
    padding: 30px;
    padding-top: 8%;
    position: relative;
    margin-right: 15px;

}
.testimonial_section_card h3{
    color:orange;
}
.testimonial_section_card p{
    color: gray;
    font-size: 15px;
    letter-spacing: .8px;
    line-height: 1.5;
}
.testimonial_section_card img{
    position: absolute;
    top: -20%;
    left: 25%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

/* .testimonial_section ends here */




.last_section_welcome{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    display: flex;

}
.last_section_welcome_left{
    width: 50%;
    margin-right: 20px;
    background-color: #4b96de;

}
.last_section_welcome_right{
    width: 50%;
}

.last_section_welcome_right iframe{
    width: 100%;
    height: 100%;
}

.last_section_welcome_left h2,.last_section_welcome_left h1{
    /* font-size: 30px; */
    color: white;
}

.last_section_welcome_left p{
    font-size: 15px;
    color: white;
    margin-top: 20px;
    opacity: .8;
}
.fa{
    font-size: x-large;
    color: white;
}
/* fifth section ends here */




/* footer */
footer{
    margin-top: 10px;
    padding: 30px;
    text-align: center;
}
footer h4{
    color: gray;
}